* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgreen;
    color: antiquewhite;
}



/* PANTALLA 1 */
.pant1 {  
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: darkgreen;
    color: antiquewhite;
    border: antiquewhite solid 0.08rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.btnPuntaje {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btnPuntaje input {
    width: 7rem;
}

.seleccionado{
    background-color: antiquewhite;
    color: darkgreen;
    transition: box-shadow .3s ease;   
}

.seleccionado:hover {
    box-shadow: 0 0 1rem rgba(210, 231, 21, 0.7);
  }

.inicio {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

/* FIN PANTALLA 1 */
/* ----------------------------------------------- */


/* PANTALLA 2 */
.v-line {
    border-left: medium solid antiquewhite;
    height: 65%;
    left: 50%;
    position: absolute;
}

.pant2 {
    display: none;
    flex-direction: column;
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/* .primera{
    background-color: aqua;
    margin: 1rem 0;
} */

hr {
    background-color: antiquewhite;
}

button {
    width: 2rem;
    background-color: darkgreen;
    color: antiquewhite;
    font-weight: bolder;
    font-size: 1rem;
    border: medium solid antiquewhite;
}

img {
    width: 5rem;
}

.modoJuego {
    display: flex;
    justify-content: center;
}